body {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	text-align: center;
}
#parent {
	font-size: 20px;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;

	align-items: right;
	border: 5px solid;
}
/* .child {
	flex: 1;
	width: 100px;
	height: 100px;
} */
#one {
	background-color: teal;
	/* display: flex;
    justify-content: left;
} */
}
/* #two {
	background-color: green;
}
#three {
	background-color: purple;
}
#four {
	background-color: yellow;
}
#five {
	background-color: black;
}
#six {
	background-color: red;
}
#seven {
	background-color: orangered;
}
#eight {
	background-color: orange;
}
#nine {
	background-color: gray;
}
#ten {
	background-color: pink;
} */


@media (max-width: 750px) {
	body {
		background-color: lightblue;
		display: flex;
		flex-direction: column;
		height: auto;
	}
}
